*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    
}

#container > img{
    max-width: 100%;
    height: auto;
    z-index: -1;

}

#card{
    width: 70vw;
    height: 90vh;
    /* background-color: red; */
    position: absolute;
    top: 2rem;
    left: 15%;
    z-index: 99;
    border-radius: 3rem;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4); 


}

#card>img{
    max-width: 100%;
    height: 100%;
    
  
}

.city-container{
    position: absolute;
    top: 0;
    z-index: 2;
    margin: 2rem 4rem;
}

.top-sect{
    width: 60vw;
    display: flex;
    /* gap: 4rem; */
    justify-content: space-between;

}

.city-name p:nth-child(1){
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
}

.city-name p:nth-child(2){
    font-size: 0.8rem;
    color: white;
    margin-top: -0.5rem
}

.city-name p:nth-child(3) {
    font-size: 0.8rem;
    color: white;
    margin-top: 0.1rem
}

input{
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0 5rem 0 1rem;
    outline: none;
    border: none;
}

/* .search-btn{
    height: 2rem;
    width: 4rem;
    background-color: rgb(41, 41, 151);
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: white;
    cursor: pointer;
} */

.search-btn {
    background: rgb(41, 41, 151);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em rgb(41, 41, 151);
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 2rem;
    width: 6rem;
    padding-right: 3.3em;
    cursor: pointer;
}

.search-btn .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em rgb(41, 41, 151);
    right: 0.3em;
    transition: all 0.3s;
}

.search-btn:hover .icon {
    width: calc(100% - 0.6em);
}

.search-btn .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: rgb(41, 41, 151);
}

.search-btn:hover .icon svg {
    transform: translateX(0.1em);
}

.search-btn:active .icon {
    transform: scale(0.95);
}









.mid-sect{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    /* border: 1px solid red; */
}

.temp{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.temp div:nth-child(1){
    font-size: 7rem;
    color: rgb(41, 41, 151);
}

.temp div:nth-child(2) {
    font-size: 1rem;
    color: rgb(41, 41, 151);
}

.info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.info > img{
    width: 12rem;
    height: 12rem;
}

.info > div{
    font-size: 0.8rem;
    color: rgb(41, 41, 151);
}

.down-sect{
    width: 60vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 0.5rem;
    color: white;
    background: rgba(1, 39, 250, 0.43);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(34, 9, 116, 0.3);

}

.daily > img{
    width: 3.5rem;
    height: auto;
}

.range{
    font-size: 0.7rem;
    font-weight: 600;
}

.error-cont{
    display: none;
    position: absolute;
    top: 10rem;
    left: 15rem;
    text-align: center;
    width: 30vw;
    height: 20vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
    border-radius: 2rem;
    padding-top: 2rem;
    color: white;


}

#okay{
    cursor: pointer;
    width: 5rem;
    height: 1.8rem;
    margin-top: 1rem;
    background-color: rgba(1, 39, 250, 0.43);
    border: none;
    color: white;
}

.loading{
    display: none;
    position: absolute;
    top: 10rem;
    left: 15rem;
    text-align: center;
    width: 30vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    border-radius: 2rem;
    padding-top: 2rem;
    padding-left: 8rem;

    /* color: white; */
}


#wifi-loader {
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wifi-loader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}

#wifi-loader svg circle.back {
    stroke: var(--back-color);
}

#wifi-loader svg circle.front {
    stroke: var(--front-color);
}

#wifi-loader svg.circle-outer {
    height: 86px;
    width: 86px;
}

#wifi-loader svg.circle-outer circle {
    stroke-dasharray: 62.75 188.25;
}

#wifi-loader svg.circle-outer circle.back {
    animation: circle-outer135 1.8s ease infinite 0.3s;
}

#wifi-loader svg.circle-outer circle.front {
    animation: circle-outer135 1.8s ease infinite 0.15s;
}

#wifi-loader svg.circle-middle {
    height: 60px;
    width: 60px;
}

#wifi-loader svg.circle-middle circle {
    stroke-dasharray: 42.5 127.5;
}

#wifi-loader svg.circle-middle circle.back {
    animation: circle-middle6123 1.8s ease infinite 0.25s;
}

#wifi-loader svg.circle-middle circle.front {
    animation: circle-middle6123 1.8s ease infinite 0.1s;
}

#wifi-loader svg.circle-inner {
    height: 34px;
    width: 34px;
}

#wifi-loader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}

#wifi-loader svg.circle-inner circle.back {
    animation: circle-inner162 1.8s ease infinite 0.2s;
}

#wifi-loader svg.circle-inner circle.front {
    animation: circle-inner162 1.8s ease infinite 0.05s;
}

#wifi-loader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#wifi-loader .text::before,
#wifi-loader .text::after {
    content: attr(data-text);
}

#wifi-loader .text::before {
    color: var(--text-color);
}

#wifi-loader .text::after {
    color: var(--front-color);
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
}

@keyframes circle-outer135 {
    0% {
        stroke-dashoffset: 25;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 301;
    }

    80% {
        stroke-dashoffset: 276;
    }

    100% {
        stroke-dashoffset: 276;
    }
}

@keyframes circle-middle6123 {
    0% {
        stroke-dashoffset: 17;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 204;
    }

    80% {
        stroke-dashoffset: 187;
    }

    100% {
        stroke-dashoffset: 187;
    }
}

@keyframes circle-inner162 {
    0% {
        stroke-dashoffset: 9;
    }

    25% {
        stroke-dashoffset: 0;
    }

    65% {
        stroke-dashoffset: 106;
    }

    80% {
        stroke-dashoffset: 97;
    }

    100% {
        stroke-dashoffset: 97;
    }
}

@keyframes text-animation76 {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    50% {
        clip-path: inset(0);
    }

    100% {
        clip-path: inset(0 0 0 100%);
    }
}


.weather-iconSP{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

